PyYAML>=6.0
openapi-schema-pydantic
python-dotenv
prance
openapi-spec-validator
jsonref
langchain>=0.2.0
langchain-core
langchain-google-genai>=0.1.0
langchain-community
langchain-openai
openai
setuptools>=61.0
wheel
build
DeepDiff